<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parabank automation test suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="utils.WebDriverListener"/>
    </listeners>
    <test name="phptravels.net tests">
        <classes>
            <class name="HomePageTests"/>


        </classes>
    </test>
</suite>